body {
    font-family: Arial, sans-serif;
    background-color: #b6afff;
    margin: 0;
    padding: 0;
  }
  
  #book-library {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f7f1ff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    color: #333;
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  